<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jon.fangreader">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.ReadActivity"/>
        <activity android:name=".ui.activity.BookDetailCommunityActivity"/>
        <activity android:name=".ui.activity.BookDiscussionDetailActivity"/>
        <activity android:name=".ui.activity.SearchActivity"/>
        <activity android:name=".ui.activity.BookReviewDetailActivity"/>
        <activity android:name=".ui.activity.BookDetailActivity"/>
        <activity android:name=".ui.activity.BookListDetailActivity"/>
        <service android:name=".service.DownloadService"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

</manifest>